Below are the accuracy comparission for Linear Regression, Decission Tree Regression and Decission Tree Classifier.

# Predicting players rating

In this project you are going to predict the overall rating of soccer player based on their
attributes such as 'crossing', 'finishing etc.

The dataset you are going to use is from European Soccer Database
(https://www.kaggle.com/hugomathien/soccer) has more than 25,000 matches and more
than 10,000 players for European professional soccer seasons from 2008 to 2016.

Download the data in the same folder and run the following commmand to get it in the environment

## About the Dataset

The ultimate Soccer database for data analysis and machine learning

The dataset comes in the form of an SQL database and contains statistics of about 25,000 football
matches, from the top football league of 11 European Countries. It covers seasons from 2008 to
2016 and contains match statistics (i.e: scores, corners, fouls etc...) as well as the team
formations, with player names and a pair of coordinates to indicate their position on the pitch.

* +25,000 matches
* +10,000 players
* 11 European Countries with their lead championship 
* Seasons 2008 to 2016
* Players and Teams' attributes* sourced from EA Sports' FIFA video game series, including
the weekly updates
* Team line up with squad formation (X, Y coordinates)
* Betting odds from up to 10 providers
* Detailed match events (goal types, possession, corner, cross, fouls, cards etc...) for +10,000 matches


The dataset also has a set of about 35 statistics for each player, derived from EA Sports' FIFA
video games. It is not just the stats that come with a new version of the game but also the weekly
updates. So for instance if a player has performed poorly over a period of time and his stats get
impacted in FIFA, you would normally see the same in the dataset.


### Python skills required to complete this project


### SQL:

The data is in SQL database so students need to retrive using query language. They also need
to know how to connect SQL database woth python. The library we are using for this in 'sqlite3'.
http://localhost:8888/notebooks/20th%20Januray/ML%20Project(Updated)%20(1).ipynb# 1/4
1/19/2018 ML Project(Updated) (1)
SQLite3 can be integrated with Python using sqlite3 module, which was written by Gerhard Haring.
It provides an SQL interface compliant with the DB-API 2.0 specification described by PEP 249.
You do not need to install this module separately because it is shipped by default along with Python
version 2.5.x onwards.
To use sqlite3 module, you must first create a connection object that represents the database
and then optionally you can create a cursor object, which will help you in executing all the SQL
statements.

### Pandas :

Pandas is an open-source, BSD-licensed Python library providing high-performance, easy-to-use
data structures and data analysis tools for the Python programming language. Python with
Pandas is used in a wide range of fields including academic and commercial domains including
finance, economics, Statistics, analytics, etc.In this tutorial, we will learn the various features of
Python Pandas and how to use them in practice.


### Scikit Learn

Scikit-learn provides a range of supervised and unsupervised learning algorithms via a
consistent interface in Python.

The library is built upon the SciPy (Scientific Python) that must be installed before you can
use scikit-learn. This stack that includes:

* NumPy: Base n-dimensional array package
* SciPy: Fundamental library for scientific computing
* Matplotlib: Comprehensive 2D/3D plotting
* IPython: Enhanced interactive console
* Sympy: Symbolic mathematics
* Pandas: Data structures and analysis

Extensions or modules for SciPy care conventionally named SciKits. As such, the module
provides learning algorithms and is named scikit-learn.

The vision for the library is a level of robustness and support required for use in production systems.
This means a deep focus on concerns such as easy of use, code quality, collaboration,
documentation and performance.

### Machine Learning skills required to complete the project

#### Supervised learning

Supervised learning deals with learning a function from available training data. A supervised
learning algorithm analyzes the training data and produces an inferred function, which can be
used for mapping new examples.


#### Regression

Regression is a parametric technique used to predict continuous (dependent) variable given a set
of independent variables. It is parametric in nature because it makes certain assumptions
(discussed next) based on the data set. If the data set follows those assumptions, regression gives
incredible results.

#### Model evaluation

Student must know how to judge a model on unseen data. What metric to select to judge
the performance

In [32]:

# Importing the required  Libraries
import numpy as np
import sqlite3
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [33]:
conn=sqlite3.connect('C:/Users/User/Downloads/project ML/database.sqlite/database.sqlite')
data=pd.read_sql_query('SELECT * FROM Player_Attributes',conn)
data.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [34]:
features = [
       'potential', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes']

In [35]:
data = data.dropna()
data

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [37]:
target ='overall_rating'

In [39]:
data[target].describe()

count    180354.000000
mean         68.635317
std           7.027950
min          33.000000
25%          64.000000
50%          69.000000
75%          73.000000
max          94.000000
Name: overall_rating, dtype: float64

In [40]:
X = data[features].copy()
X.head(2)

,potential,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,71.0,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,71.0,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0

In [41]:
Y = data[target].copy()
Y.head(2)

0    67.0
1    67.0
Name: overall_rating, dtype: float64

In [9]:
X.sample()

,potential,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
125532,82.0,75.0,66.0,68.0,79.0,66.0,74.0,87.0,81.0,80.0,...,81.0,78.0,76.0,77.0,78.0,4.0,20.0,80.0,20.0,20.0

In [10]:
Y.head()

0    67.0
1    67.0
2    62.0
3    61.0
4    61.0
Name: overall_rating, dtype: float64

In [42]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.33, random_state=99)

In [43]:
reg = LinearRegression()
reg.fit(X_train,Y_train)

LinearRegression()

In [44]:
Y_pred = reg.predict(X_test)
Y_pred

array([71.0359561 , 65.98942126, 65.31011633, ..., 60.62547053,
       70.18633775, 69.19739348])

Mean Error for Linear Regression :

In [48]:
Lin_Reg_RMSE = np.sqrt(mean_squared_error(y_true=Y_test, y_pred=Y_pred))
Lin_Reg_RMSE

2.8084599861418544

In [49]:
reg = DecisionTreeRegressor(max_depth=20)
reg.fit(X_train,Y_train)

DecisionTreeRegressor(max_depth=20)

In [50]:
Y_pred=reg.predict(X_test)
Y_pred

array([74.        , 65.        , 59.        , ..., 59.125     ,
       72.        , 70.18421053])

Mean Error for Decission Tree Regression:

In [51]:
Dtree_Reg_RMSE = np.sqrt(mean_squared_error(y_true=Y_test, y_pred=Y_pred))
Dtree_Reg_RMSE

1.4665161968010112

In [52]:
target_c='overall_level'# creating an object type data
data[target_c] = 3
data.loc[data[target]>=85,target_c] = 1
data.loc[(data[target]<85) & (data[target]>=70),target_c]=2

In [53]:
data[[target,target_c]]

        overall_rating  overall_level
0                 67.0              3
1                 67.0              3
2                 62.0              3
3                 61.0              3
4                 61.0              3
...                ...            ...
183973            83.0              2
183974            78.0              2
183975            77.0              2
183976            78.0              2
183977            80.0              2

[180354 rows x 2 columns]

In [54]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [55]:
Y=data[target_c].copy()

In [56]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.33,random_state=99)

In [57]:
X_train.head()

,potential,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
170760,67.0,66.0,62.0,43.0,67.0,61.0,70.0,63.0,67.0,65.0,...,67.0,64.0,28.0,35.0,37.0,10.0,5.0,8.0,5.0,9.0
23098,62.0,41.0,61.0,65.0,48.0,63.0,53.0,59.0,57.0,35.0,...,47.0,61.0,25.0,21.0,23.0,10.0,15.0,12.0,5.0,8.0
136797,66.0,58.0,63.0,63.0,61.0,51.0,66.0,63.0,61.0,57.0,...,48.0,67.0,26.0,35.0,30.0,12.0,6.0,11.0,10.0,10.0
74116,71.0,41.0,40.0,63.0,61.0,45.0,54.0,36.0,35.0,59.0,...,54.0,50.0,57.0,60.0,59.0,6.0,12.0,13.0,15.0,15.0
36361,78.0,42.0,20.0,68.0,54.0,35.0,35.0,31.0,40.0,58.0,...,38.0,54.0,76.0,76.0,72.0,5.0,11.0,6.0,5.0,10.0

In [58]:
clasifier=DecisionTreeClassifier(max_leaf_nodes=15,random_state=0)
clasifier.fit(X_train,Y_train)

DecisionTreeClassifier(max_leaf_nodes=15, random_state=0)

In [59]:
pred=clasif.predict(X_test)
pred

array([2, 3, 3, ..., 3, 3, 3], dtype=int64)

Accuracy Score for Decision Tree Classifier :

In [30]:
accuracy_score(y_true = Y_test,y_pred=pred)

0.9013727170388293

******************************